body{
    background-color: whitesmoke;
   
    box-sizing: border-box;
    width: 100%;
}
  
  

header {
      background-color: #1F2E29;
      color: white;
      height: 120px;
      width: 102%;
      margin-top: -2%;
      margin-left: -1%;
      margin-right: -1%; 
      
}
#logo {
     height: 139px;
      position: relative;
      top: 0px;
      right: 10%;
}
#cart {
      position: relative;
      left: 57%;
      height: 55px;
      bottom: 30px;
      width: 4%;
}
  
#cart:hover{
  background: #BE1452;
  border-radius: 20px;
  
  
}
  
  
header a img {
   height: 80px;
   margin: 20px;
}
  
header h2{
   display: inline-block;
   font-size: 40px;
   position: relative;
   left: 190px;
   bottom: 64px;
}
  
nav{
 display: inline-block;
  font-size: 25px;
  position: relative;
  left: 56%;
  bottom: 70px;
}
  
nav ul li {
   display: inline-block;
     
}
  
nav ul li a{
   color: white;
    text-decoration: none;
      
  
}
  
nav ul li a:hover{
  background: #BE1452;  
  border-radius: 5px;
} 


main h1 {
    text-align: center;
}

footer{
    background-color: #1F2E29;
     height: 28%;
    position: relative;
   
    padding: 5px;
    top: 80px;
    color: white;
  
      
    clear: both;
    font-size: 110%;
     
}

.imagesfooter{
  display: inline-flex;
  float: right;
  position: relative;
  bottom: 30%;

}

#p2,#p1{
 padding: 1%;
 margin-top: 1%;
 color: white;
}

#p3{
 text-align: center;
 margin-top: 4%;

 bottom: 10%;
 left: 10%;
 color: white;

}



#exercise1{
  
    width: 50%;
    float: left;
}

#exercise2{

    width: 50%;
    float: right;
}

#exercises12{
    margin-left: 3%;
    padding: 5%;
}
.headers{
    border: 2px solid #BE1452 ;
    background-color: #1F2E29;
    color: whitesmoke;
    text-align: center;
    width: 20%;
}

#exercise3{
  
    width: 50%;
    float: left;
}

#exercise4{

    width: 50%;
    float: right;
}

#exercises34{
    margin-left: 3%;
    padding: 5%;
}


#exercises12 p{
    font-size: 150%;
    font-weight: bolder;
    text-align: justify;
    color: black;
}

#exercises34 p{
    font-size: 150%;
    font-weight: bolder;
    text-align: justify;
    color: black;
}
