
* {
    box-sizing: border-box;
}




header {
    background-color: #1F2E29;
    color: white;
    height: 120px;
    width: 102%;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
    
}
#logo {
   height: 139px;
    position: relative;
    top: 6px;
    right: 10%;
}
#cart-logo {
    position: relative;
    left: 30%;
    width: 50px;
    bottom: 25px;
    height: 35%;
}
header a img {
    height: 80px;
    margin: 20px;
}
 header a  :hover{
    background-color: #BE1452;
    border-radius: 10px;
} 
header h2{
    display: inline-block;
    font-size: 40px;
    position: relative;
    left: 190px;
    
    bottom: 55px;
}
nav{
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 28%;
    bottom: 60px;
}
nav ul li {
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
 nav ul li  :hover{
   background-color: #BE1452;
   border-radius: 5px;
   padding: 10px;
}


/* ////end of header */

#stylingdropdown {
    padding: 1%;
    display: inline-block;
    border-left: 2px solid #BE1452;
}


#select-border #products{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
  }

body{
    background-color: whitesmoke;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* background-color: EAEAEA; */
}


main{
    margin: 5%;
}


main label {
    font-size: 140%;
}



.section-layout {
    font-weight: bold;
    color: #BE1452;
    font-size: 140%;
}


.section-name {
    font-size: 140%;
    color:#1F2E29;
    font-weight: bold;

}


#courseimgs {
    border-left: 2px solid #BE1452;
    
}

#laptopimgs {
    border-left: 2px solid #BE1452;
}


#chairimgs {
    border-left: 2px solid #BE1452;
   
}
section h2 {
    margin: 2px;
    

}

.products {
    margin: 2% 4%;

    text-align: center;
    padding: 15px;
    background-color: rgb(216, 215, 215);

border-radius: 12px;

border: 1px solid #be145257;

margin: 2% 2% 2% 5%;
    
}


.row {
    display: flex;
}


.allbuttons{
    background-color:  #BE1452; /* Green */
    border: none;
    color: white;
    padding: 13px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    margin-top: 12px;



}



.allbuttons:hover {
    background-color: #7e1038; /* Green */
    color: white;
  }




/* footer */

footer{
    background-color: #1F2E29;
    height: 40%;
    position: relative;
    color: white;
    padding: 1%;
}

footer h3 {
    display: inline-block;
    padding-left: 12px;
}


.imagesfooter{
display: inline-block;
float: right;
position: relative;
bottom: 30%;
}
#p2,#p1{
padding: 1%;
margin-top: 1%;
}
#p3{
    display: inline-block;
text-align: center;
margin-top: 4%;

bottom: 10%;
padding-left: 45%;
}


